<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.lovebandhan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:node="replace">
        <activity android:name=".Screen.Upload_Profile_Picture"></activity>
        <activity android:name=".Screen.HomeScreen" />
        <activity android:name=".Screen.LoginScrren.Login" />
        <activity android:name=".Screen.FormStep.FormStepTwo" />
        <activity android:name=".Screen.FormStep.FormStepThree" />
        <activity android:name=".Screen.FormStep.FormStepFour" />
        <activity android:name=".Screen.VerifyScreen" />
        <activity android:name=".Screen.ChatScreen.Main_Chat_Activity" />
        <activity android:name=".Screen.FormStep.FormStepOne" />
        <activity
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Screen.Followers" />
        <activity android:name=".Screen.Following" />
        <activity android:name=".Screen.ShowAllCustomer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>

</manifest>